<div class="container" *ngIf="fetchC">
  <div class="the_buttons">
    <input list="countries" name="country" id="country-input" [(ngModel)]="userInput" placeholder="Type your guess here" />
    <button class="guessbutton" (click)="makeGuess()" [disabled]="(GuessCount >= MaxGuess) || sucessfullGuess">Guess</button>

    <datalist id="countries">
      <option *ngFor="let country of countries" [value]="country"></option>
    </datalist>
  </div>
  <div class="count">Guess: {{GuessCount}} / {{this.MaxGuess}}</div>
  <div class="table_content" *ngIf="GuessCount > 0">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Continent</th>
          <th>Region</th>
          <th>Area</th>
          <th>Population</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of guessedCountries" [ngClass]="{'success': country.success}">
          <td [ngClass]="{'correct': country.nameResponse, 'incorrect': !country.nameResponse}">
            {{ country.name }} {{ getResponseIconBool(country.nameResponse) }}
          </td>
          <td [ngClass]="{'correct': country.continentResponse, 'incorrect': !country.continentResponse}">
            {{ country.continent }} {{ getResponseIconBool(country.continentResponse) }}
          </td>
          <td [ngClass]="{'correct': country.regionResponse, 'incorrect': !country.regionResponse}">
            {{ country.region }} {{ getResponseIconBool(country.regionResponse) }}
          </td>
          <td>
            {{ country.area | number:'1.0-0' }}km²
            <span [ngClass]="getResponseClass(country.areaResponse)">{{ getResponseIcon(country.areaResponse) }}</span>
          </td>
          <td>
            {{ (country.population / 1000000) | number:'1.2-2' }}m
            <span [ngClass]="getResponseClass(country.populationResponse)">{{ getResponseIcon(country.populationResponse) }}</span>
          </td>
          <td>
            {{ country.latitude | number:'1.2-2' }}
            <span [ngClass]="getResponseClass(country.latitudeResponse)">{{ getResponseIcon(country.latitudeResponse) }}</span>
          </td>
          <td>
            {{ country.longitude | number:'1.2-2' }}
            <span [ngClass]="getResponseClass(country.longitudeResponse)">{{ getResponseIcon(country.longitudeResponse) }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="message" *ngIf="sucessfullGuess">
      You won! Congratulations!!
      <button class="button-71" role="button" (click)="playAgain()">Play Again</button>
    </div>
    <div class="message" id="lost" *ngIf="(!sucessfullGuess && GuessCount >= MaxGuess)">
      You Lost!
      <button class="button-71" role="button" (click)="playAgain()">Play Again</button>
    </div>
  </div>
</div>

<div class="planet-container" *ngIf="(fetchLoading && !fetchC)">
  <div class="night"></div>
  <div class="day"></div>
  <div class="clouds"></div>
  <div class="inner-shadow"></div>
</div>
<div class="planet-container" *ngIf="(!fetchLoading && !fetchC)">
  Error Fetching Countries
  <div class="night"></div>
  <div class="day"></div>
  <div class="clouds"></div>
  <div class="inner-shadow"></div>
</div>

<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto; /* Προσαρμόζει το πλάτος βάσει του περιεχομένου */
    width: auto; /* Επιτρέπει στο τραπέζι να προσαρμόζεται στο περιεχόμενο */
  }

    .styled-table thead tr {
      background-color: #343a40;
      color: #ffffff;
      text-align: center;
    }

    .styled-table td{
      background-color:white;
    }

    .styled-table th, .styled-table td {
      padding: 12px 15px;
      text-align: center;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #343a40;
    }

    .styled-table tbody tr.success {
      font-weight: bold;
    }

  .correct {
    background-color: #d4edda !important;
    color: #155724;
  }

  .incorrect {
    background-color: #f8d7da !important;
    color: #721c24;
  }

  .message {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #212529;
  }

    .message button {
      margin-top: 0.5rem;
    }
</style>
