/* You can add global styles to this file, and also import other style files */

body, html {
    margin:0;
/*  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('assets/earth.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;*/
}

